idproxy/idproxy.vcxproj.user
idproxy/idproxy.vcxproj.filters
idproxy/.vs/
idproxy/x64/
platform/platform.vcxproj.user
platform/platform.vcxproj.filters
platform/x64/Debug/loaderw64.obj
platform/x64/
pwin64/pwin64.vcxproj.user
pwin64/pwin64.vcxproj.filters
pwin64/x64/
test/windows/TestApp/TestApp.vcxproj.filters
test/windows/TestApp/TestApp.vcxproj.user
test/windows/TestApp/x64/
updd/updd.vcxproj.user
updd/updd.vcxproj.filters
updd/x64/
bin/
idproxy-tests/idproxy-tests/.vs/
idproxy-tests/idproxy-tests/idproxy-tests.vcxproj.user
idproxy-tests/idproxy-tests/idproxy-tests.vcxproj.filters
